.experience{
  padding-top: 6vh;
  padding-bottom: 6vh;
  background-color: white;
}

.projects{
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.exp-h2 {
  font-size: 3vw;
  margin: 0;
}

.sep-exp {
  width: 30vw;
  height: 0.2vh;
  margin-top: 3vh;
  margin-bottom: 5vh;
  background-color: #474744;

}

.section {
  width: fit-content;
  margin: 3vw 10vw;
  font-size: 2.2vw;
  color: #c1a57b;
}

.flex {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}
.flex-start {
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.hol {
  display: inline-block;
  margin: 0;
  width: 30vw;
  font-size: 1.8vw;
}
.mikor {
  margin: 0;
  width: 30vw;
  font-size: 1.2vw;
  color: #474744;
}
.mit {
  margin: 0;
  width: 40vw;
  font-size: 1.8vw;
}
.text {
  margin: 0;
  width: 40vw;
  font-size: 1.2vw;
}
.projectLink {
  width: 2vw;
  padding: 0;
  padding-right: 1vw;
}
.projectContainer {
  display: flex;
  align-items: flex-start;
}
a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 700px) {
  .exp-h2 {
    font-size: 8vw;
  }
  .sep-exp {
    width: 60vw;
    height: 0.1vh;
  }
  .section {
    margin: 6vh auto;
    font-size: 7vw;
    margin-bottom: 4vh;
  }
  .flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: 2vh;
  }
  .hol {
    margin-top: 2vh;
    margin-bottom: 3vh;
    width: 100%;
    font-size: 6vw;
  }
  .mit {
    margin: 0;
    margin-bottom: 1vh;
    width: 100%;
    font-size: 5vw;
  }
  .mikor {
    margin-bottom: 3vh;
    width: 100%;
    font-size: 4vw;
  }
  .text {
    margin: 0;
    width: 100%;
    font-size: 4vw;
    margin-bottom: 3vh;
  }
  .projectLink{
    margin-top: 2.3vh;
    width: 6vw;
  }
  .projectContainer {
    display: flex;
    align-items: flex-start;
  }
  .sep-project{
    margin-bottom: 6vh;
  }
}
