.header {
  background-color: #222831;
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0vw 5vw;
  font-size: 2vw;
}
a {
  color: #fffbe0;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  li {
    font-size: 4.9vw;
    margin: 3vw;
    margin-right: 4vw;
  }
  .header{
    height: 10vh;
  }
}
