.header{
    background-color: #222831;
    position: sticky;
    top: 0;
    height: 10vh;
    vertical-align: auto;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    margin: 3vh;
    font-size: 4vh;
    vertical-align: auto;
    margin-right: 5vh;
}
a{
    color: #fffbe0;
    text-decoration: none;
}