.details{
    display: inline-block;
}
table{
    border-spacing: 0;
    width: 100%;
}
.col1{
    width: 33%;
    text-align: center;
    padding-left: 18vh;
}
.col2{
    width: 33%;
    text-align: center;
    padding-top: 4vh;
}
.col3{
    width: 33%;
    text-align: center;
    padding-right: 18vh;
}
.h1{
    font-size: 8vh;
    margin-bottom: 4vh;
    margin-top: 0;
    padding-top: 6vh;
}
h2{
    font-size: 5vh;
    margin-bottom: 1vh;
}
p{
    font-size: 3vh;
    margin: 2vh;
}
b{
    color: #c1a57b;
}
.rolam{
    padding-left: 3vh;
    padding-right: 3vh;
}

.roundpic{
    width: 50vh;
    border-radius: 50%;
    border: 1vh solid #474744;
}
.separation{
    width: 50vw;
    border: 0.2vh solid #474744;
    margin-top: 3vh;
    margin-bottom: 4vh;
}