.home{
  padding-top: 5vh;
  padding-bottom: 6vh;
}
h1 {
  font-size: 3.5vw;
  margin: 0;
}
h2 {
  font-size: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
p {
  font-size: 1.25vw;
  margin: 1vh;
}
b {
  color: #c1a57b;
}
.roundpic {
  height: 22vw;
  width: 22vw;
  border-radius: 50%;
  border: 0.5vh solid #474744;
  margin-top: 5vh;
}
.separation {
  width: 50vw;
  height: 0.2vh;
  background-color: #474744;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.social {
  margin-top: 2vh;
  width: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.rolam{
  font-size: 1.25vw;
  padding: 0 4vw;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 7vw;
  }
  p {
    font-size: 4vw;
    margin: 0.5vh;
  }
  .roundpic {
    height: 60vw;
    width: 60vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .separation {
    width: 80vw;
    height: 0.1vh;
  }
  .col{
    padding-bottom: 0vh;
  }
  .rolam{
    font-size: 4vw;
  }
  .social {
    width: 8vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .h2-mob{
    margin-top: 0;
  }
}
