h1{
    font-size: 4vw;
    margin: 0;
    padding-top: 6vh;
}
h2{
    font-size: 2.5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
p{
    font-size: 1.5vw;
    margin: 1vh;
}
b{
    color: #c1a57b;
}
.roundpic{
    width: 30vw;
    border-radius: 50%;
    border: 1vh solid #474744;
}
.separation{
    width: 50vw;
    border: 0.15vw solid #474744;
    background-color: #474744;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 13vw;
    }
    h2{
        font-size: 9vw;
    }
    p {
      font-size: 6vw;
    }
    .roundpic{
        width: 80vw;
    }
    .separation{
        width: 80vw;
        border-width: 0.4vw;
    }
    .roundpic{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
  }